head
   meta(charset="UTF-8")
   link(rel="stylesheet" type="text/css" href="css/main.css")
   link(rel="stylesheet" type="text/css" href="css/game.css")
   link(rel="stylesheet" type="text/css" href="css/ingame.css")
   link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
   link(href='https://fonts.googleapis.com/css?family=Indie+Flower|Anton' rel='stylesheet' type='text/css')
   meta(name="apple-touch-fullscreen" content="yes")
   meta(name="viewport" content="width=device-width,height=device-height, initial-scale=1, user-scalable=no")
   meta(name="apple-mobile-web-app-capable" content="yes")
   script(src="https://code.angularjs.org/1.5.8/angular.min.js")
   script(src="js/main.js")
   title Maths Training
body(ng-app="mainApp", ng-controller = "game" onload="start()")
   div#container
      video#video
      include includes/MapControls
      include includes/login
      include includes/dashboard
      include includes/profile
      include includes/shop

script(src="//localhost:35729/livereload.js")