div.heading
    h1(style="background-color:red") Alex
br
div(style="text-align:center")
    div#text
        h2 There are more than 64 squares on a chess board. If you count the squares made up of multiple squares there are 204 altogether. There is one 8x8 square, four 7x7 squares, nine 6x6 squares, 16 5x5 squares, 25 4x4 squares, 36 3x3 squares, 49 2x2 squares and 64 1x1 squares.
        br
        img(src="images/conversations/chess.png")
button(onclick = "closeconv()") Ok

script.

    function closeconv() {
        hideConversation();

    }




