div.heading
    h1(style="background-color:red") Bethany
br
div(style="text-align:center")
    div#text
        | A number is divisible by 9 if the sum of the digits is divisible by 9.
        br
        span(style="color:lightyellow;font-size:3em") 9,18,27,36,45...


button(onclick = "closeconv()") Ok


script.

    function closeconv() {

        var b = map.map.getBarriers("barrier1");
        b.forEach(function (bb) {
            bb.setItem(0);
        })
        b = map.map.getNpc("Brendan");
        if (b) {

            b.makeVisible(true)

        }
        hideConversation();

    }

