div.heading
    h1(style="background-color:red") Matt
br
div(style="text-align:center")
    div#text
        h3 Handy Hint!
        h2 Think to yourself 'How I wish I could calculate pi' and then count the letters in each of the words of that sentence. You now have a way of remembering the first seven digits of pi: 3.141592.
        br
        span(style="color:lightyellow;font-size:3em") π


button(onclick = "closeconv()") Ok


script.

    function closeconv() {
        hideConversation();

    }


