@import "compass/css3";
@import "compass/utilities";
@import "compass/css3/images";


.leftcontrols {
  position:absolute;
  left:0px;
  top:0px;
  width:5%;
  // height:100%;
  background-color: rgba(0,0,0,0.4);
  text-align:center;
  //@include border-radius(20%);
  img {
    width:90%;
    background-color: transparent;
    border:none;
    cursor:pointer;
    margin: 10px 5px;
  }

}
.rightcontrols {
  position:absolute;
  right:0px;
  top:0px;
  width:3%;
  // height:100%;
  background-color: rgba(0,0,0,0.4);
  text-align:center;
  //@include border-radius(20%);
  img {
    width:90%;
    background-color: transparent;
    border:none;
    cursor:pointer;
    margin: 10px 5px;
  }
}

.info {
  position:absolute;
  background-color: rgba(0,0,0,0.6);
  height:32px;
  bottom:-1px;
  left:-1px;
  width:101%;
  color:yellow;
  font-size: 25px;
  font-family: Anton;
  padding:0px 20px;
  button {
    height:100%;

    color:yellow;
    background-color: black;
    display: table-cell;
    vertical-align: middle;
    margin:1px 17px;
    cursor:pointer;
  }
}


