div.dashboard#dashboard
    h1 This is the dashboard
    br
    br
    button(onclick = "logout()") Logout
    br
    button(onclick="screens.show('profile')") Profile
    button(onclick="screens.show('shop')") Shop