div.login#login
    h1 Login Screen
    p Email Address
    input(type="text")
    br
    p Password
    input(type="password")
    br
    br
    button(onclick = "login()") Log In

    br
    button(onclick = "showMap()") Show Map