
div.leftcontrols#leftcontrols
    img(onclick="centerView()", src="images/controls/centericon.png")
    img(onclick="zoomIn()", src="images/controls/zoomIn.png")
    img(onclick="zoomOut()", src="images/controls/zoomOut.png")

div.rightcontrols#rightcontrols
    img#fullscreen(onclick="toggleFullScreen()", src="images/controls/full_screen.png")

div.info#info
    |XP : {{ xp }}   Coins : {{ coins }}
    button(onclick="decreasecharacter()") -
    |Character
    button(onclick="increasecharacter()") +