div.shop#shop
    h1 Ye Olde Shoppe
    br
    br
    h2 Buy your stuff here
    br
    button(onclick = "screens.back()") Back
    button(onclick = "screens.show('profile')") Profile
    button(onclick = "screens.show('dashboard')") Dashboard
