div.deskinfo#deskinfo
   img.leftarrow#leftarrow(src="images/ui/desktop/CH_desktop_arrow.png")
   img.rightarrow#rightarrow(src="images/ui/desktop/CH_desktop_arrow.png")
   .close
      img#deskclose(src="images/ui/desktop/CH_desktop_close.png")
   .header
      |Pay Table
   //.separator
   //.blank

   .outerinner
      .innerscrollwindow#deskinnerscrollwindow
         .innertile
            div
               .left
                  img(src="images/ui/infopic1.jpg")
               .right
                  .header
                     |Collapsing Cats Feature
                  .normal
                     |Winning a bet line will trigger a collapse, causing the
                     |winning symbols to be removed and more symbols
                     |fall to replace them for another chance to win.
                     br
                     br
                     |Multiple collapses may happen consecutively,
                     |causing long combos for bigger wins
            br
            br

            br
            div
               .left
                  img(src="images/ui/infopic2.jpg")
               .right
                  .header
                     | Knockout Wilds Feature
                  .normal
                     |Winning a bet line with a wild symbol will cause a
                     |collapse in the whole row that the wild appears in.
         .innertile
            .left(style="text-align:center")
               img(src="images/ui/cat1.png")
               br
               div.lefttext
                  |Payouts per individual line win.
                  br
                  br
                  |Win lines containing Wild Card
                  |always pay the highest value
                  |only.
            .right
               img(src="images/ui/CatTopRow.png")
               .paytableouter
                  .paytable
                     | 5    <strong>x500</strong>
                     br
                     | 4     <strong>x80</strong>
                     br
                     | 3     <strong>x40</strong>
                  .paytable
                     | 5    <strong>x150</strong>
                     br
                     | 4     <strong>x40</strong>
                     br
                     | 3     <strong>x20</strong>
                  .paytable
                     | 5     <strong>x80</strong>
                     br
                     | 4     <strong>x30</strong>
                     br
                     | 3     <strong>x15</strong>
                  .paytable
                     | 5     <strong>x40</strong>
                     br
                     | 4     <strong>x20</strong>
                     br
                     | 3     <strong>x10</strong>
               img(src="images/ui/CatBottomRow.png", style="margin-top:3%")
               .paytableouter2
                  .paytable2
                     | 5    <strong>x30</strong>
                     br
                     | 4     <strong>x15</strong>
                     br
                     | 3     <strong>x8</strong>
                  .paytable
                     | 5    <strong>x20</strong>
                     br
                     | 4     <strong>x12</strong>
                     br
                     | 3     <strong>x5</strong>
                  .paytable
                     | 5     <strong>x15</strong>
                     br
                     | 4     <strong>x8</strong>
                     br
                     | 3     <strong>x3</strong>

         .innertile
            .pay
               img(src="images/ui/CH_mobile_lines.png")