
div#ui
   div.top
      span#ui_win WIN 0.00
   div.middle
      div.start#ui_start
         img(src="images/ui/CH_mobile_btn_spin.png")
      div.bet
         img#ui_double(src="images/ui/CH_mobile_btn_double.png")
      div.tools
         img.home#ui_home(src="images/ui/CH_mobile_btn_home.png")
         img.settings#ui_settings(src="images/ui/CH_mobile_btn_settings.png")
         img.info#ui_info(src="images/ui/CH_mobile_btn_info.png")
   div.bottom
      span.balance#ui_balance Balance 0.00
      span.bet#ui_bet Bet 1.00
      span.time#ui_time 15:00


